.auth-form{
    width: 25rem;
    max-width: 80%;
    margin: 5rem auto;
}

.form-control label, .form-control input {
    width: 100%;
    display: block;
}

.form-label {
    margin-bottom: .5rem;
}

.form-control {
    margin-bottom: 1rem;
}

.form-actions button {
    background-color: #3784dc;
    font: inherit;
    padding: .5rem 1rem;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 1rem;
    color: #fff;
    margin-right: 1rem;
}

.form-actions button:active,
.form-actions button:hover {
    border: 2px solid #f51900;
    background-color: #0b0b0b;
    color: #ffffff;
}